{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
] %}

{% embed "kingly_sdc:text" with {
  attributes: attributes.addClass(classes),
  content,
  content_attributes,
  label,
  title_attributes,
  title_prefix,
  title_suffix
} only %}
  {% block content %}
    <div{{ content_attributes.addClass('kingly-text__content') }}>
      {{ content }}
    </div>
  {% endblock %}
{% endembed %}
